# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Env files
.env
*.env
.env.*
StockWise/.env

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
*.log
*.pid

.venv
*.venev